//This is my code to create 3 seperate variables for storing a letter grade value, all of which represent the grade I think I will get on each test in the class.  I apoligize in advance if I sent this file incorrectly to canvas, or not through a C file.  The only
//computer I had access to was a windows PC at my apartment, of which I'm not a fan of.  Again, I aplogize in advance as it is also my first time coding on this platform.

#include<stdio.h>
int main() {

grade_test1 = "B+";

grade_test2 = "B";

grade_test3 = "C+";

printf("Grade on test 1:\n", grade_test1);
printf("Grade on test 2:\n", grade_test2);
printf("Grade on test 3:\n", grade_test3);

return 0;
;
